<div class='panel panel-default'>
    <div class='panel-heading'>
      Beer list
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="beerName">Beer name:</label>
            <input type="text" class="form-control" id="beerName" [(ngModel)]="beerName">
        </div> 
        <div class="col-sm-3">
            <label for="styleId">Style id:</label>
            <input type="number" class="form-control" id="styleId" [(ngModel)]="styleId">
        </div>
        <div class="col-sm-2">
            <div class="row top25"></div>
            <button type="button" class="btn btn-default btn-block" (click)="searchBeers(1)">Search</button>
        </div>
        <div class="col-sm-4">
            <ul class="pager">
                <button type="button" (click)="pageDown()">Previous</button>
                <label>Page <input type="number" min="1" minlength="1" id="currentPage" [(ngModel)]="beerPage.currentPage" (keyup.enter)="searchBeers(beerPage.currentPage)"> of {{beerPage.numberOfPages}}</label>
                <button type="button" (click)="pageUp()">Next</button>
            </ul>
        </div>
    </div>
    <label class="col-sm-12 text-center">{{beerPage.totalResults}} beers loaded</label>
    <div class='panel-body col-sm-12'>
        <div class='container'>
            <div class="row panel panel-info">
                <div class='col-md-1'>Beer ID</div>
                <div class='col-md-6'>Name</div>
                <div class='col-md-3'>Status</div>
                <div class='col-md-1'>Style ID</div>
                <div class='col-md-1'>Organic</div>
            </div>
                
            <div class='row' *ngFor='let beer of beerPage.beers'>
                <app-beer [beer]='beer'></app-beer>
            </div>
        </div>
    </div>
</div>