<div class='panel panel-default'>
    <div class='panel-heading'>
      Beer list
    </div>
    <div class="form-group">
        <label for="beerName">Beer name:</label>
        <input type="text" class="form-control" id="beerName" [(ngModel)]="beerName">
        <label for="styleId">Style id:</label>
        <input type="text" class="form-control" id="styleId" [(ngModel)]="styleId">
        <button type="button" class="btn btn-default" (click)="searchBeers()">Search</button>
    </div>
    <div class='panel-body'>
        <div class='container'>
            <div class="row panel panel-info">
                <div class='col-md-3'>id</div>
                <div class='col-md-3'>Name</div>
                <div class='col-md-3'>Status</div>
                <div class='col-md-3'>Organic</div>
            </div>
                
            <div class='row' *ngFor='let beer of beers'>
                <app-beer [beer]='beer'></app-beer>
            </div>
        </div>
    </div>
</div>